<div class="row">
    <div class="col-md-6">
        <form asp-action="FindCustomer" asp-controller="Customer" method="post">
            <div class="form-group">
                <label class="control-label">Customer ID</label>
                <input class="form-control" name="id" />
            </div>
            <h3>OR</h3>
            <div class="form-group">
                <label class="control-label">Customer Name</label>
                <input class="form-control" name="name" />
            </div>
            <h3>OR</h3>
            <div class="form-group">
                <label class="control-label">Mobile No</label>
                <input class="form-control" name="no" />
            </div>
            <div class="form-group">
                <label class="control-label">Types Of Products Purchased</label>
                <input class="form-control" name="productquantity" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Details" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
