@model Jewellery_Management_System.Models.Product

<h1>Welcome @ViewBag.OwnerName</h1>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label">Weight(gms)</label>
                <input asp-for="Weight" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LabourCharge" class="control-label">LabourCharge(Rupees)</label>
                <input asp-for="LabourCharge" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit"  value="Submit  Details"  class="btn btn-block btn-success btn-outline-dark"/>
            </div>
        </form>
    </div>
</div>
